<div class="content">
  <p class="shopname">
    【ここに店名を表示させる】
  </p>
</div>

<div class="content">
  <p class= "aboutprice">
    割引価格
  </p>
  <input autocomplete="on" placeholder="例)1000" class="saleprice" type="text">
  <select id="offunit">
    <option value>--</option>
    <option value="円">円 OFF</option>
    <option value="％">％ OFF</option>
  </select>
</div>

<div class="content">
  <p class="starttime">
    セール開始日時
  </p>
  <input type="datetime-local" name="smp01" autocomplete="off">
</div>

<div class="content">
  <p class="endtime">
    セール終了日時
  </p>
  <input type="datetime-local" name="smp01" autocomplete="off">
</div>

<div class="content">
  <p class="message">
    クーポン詳細（クーポンの対象、クーポンコード等）
  </p>
  <textarea placeholder="クーポンの対象、クーポンコード等" rows="10" cols="60">
  </textarea>
</div>

<div class="couponbtn">
  <input type="submit" name="commit" value="クーポン発行">
</div>