.wrap{
  background-color: #F5F5F5;
}

.main{
  background-color: white;
  width: 443px;
  margin: 0 auto;
}

.content{
  padding-top :30px;
}

.required{
  font-size :14px;
  background-color: red;
  font-weight: 800;
  color: #FFFFFF;
  border-style: none;
  border-radius: 2px;
  padding: 2px 4px;
  margin-left: 10px;
}

.couponbtn{
  width :100px;
  margin: 0 auto;
  margin-top: 40px;
}