
.top-contents__shopName{
  display: flex;
  justify-content: center;
  height :5vh;
  line-height: 5vh;
  margin-top:5vh;
  .top-contents__shopName__defaultname{
    border: 1px solid;
    background-color: white;
    width: 20%;
    text-align: center;
  }

  .top-contents__shopName__name{
    border: 1px solid;
    background-color: white;
    width: 50%;
    
  }
}
.top-contents__shopAddress{
  display: flex;
  justify-content: center;
  height :5vh;
  line-height: 5vh;

  .top-contents__shopAddress__defaultAddress{
    background-color: white;
    border: 1px solid;
    width:20%;
    text-align: center;

  }
  .top-contents__shopAddress__address{
    background-color: white;
    border: 1px solid;
    width: 50%;
  }
}
.top-contents__shopUrl{
  display: flex;
  justify-content: center;
  height :5vh;
  line-height: 5vh;

  .top-contents__shopUrl__defaultUrl{
    background-color: white;
    border: 1px solid;
    width:20%;
    text-align: center;


  }
  .top-contents__shopUrl__url{
    background-color: white;
    border: 1px solid;
    width: 50%;
  }
}

.shop{
  padding:0 15px;
}

.border{
  margin :2vh 0;
  border-bottom: 3px solid;
}

.bottom-contents{
  height:70vh;
}
.couponindex{
  text-align: center;
}

.post-contents{
  margin: 20px auto;
  width: 50%;
  height:11vh;
  display: flex;
  .posts{
    background-color: white;
    border: 1px solid;
  }
}
